*{
    box-sizing: border-box;
}
body {
    /*padding: 6px;*/
    margin: 0px;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font: 14px Microsoft YaHei;

}

a {
    color: #00B7FF;
}

.bg{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 30%, #BCC1D2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#ffffff), color-stop(100%,#BCC1D2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 30%,#BCC1D2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 30%,#BCC1D2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 30%,#BCC1D2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 30%,#BCC1D2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#BCC1D2',GradientType=0 ); /* IE6-9 */
}

/*共有样式*/
.title_top {
    /*border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border-radius: 5px;
    background-image: url('../images/bg_title.jpg');
    background-repeat: repeat-x;
    margin: 0px 20px;
    padding: 10px 5px;*/

    /*position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1000;
    min-width: 1300px;*/
    padding: 10px 35px 10px 50px;
    margin-right: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4dcb5 0%, #d8b58b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4dcb5), color-stop(100%,#d8b58b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4dcb5 0%,#d8b58b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4dcb5 0%,#d8b58b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4dcb5 0%,#d8b58b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4dcb5 0%,#d8b58b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4dcb5', endColorstr='#d8b58b',GradientType=0 ); /* IE6-9 */
}

#nav-bar{
    min-width: 1300px;
}

.tabs{
    height: 50px;
    width: 55px;
    padding: 4px 8px;
    color: #854D2F;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.tabs a{
    color: #854D2F;
    text-decoration: none;
    text-decoration: none;
}
.tabs a:hover{
    color: #854D2F;
}
.tabs a:focus{
    outline: none;
}

.tabs-hover{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #fdf7ec 0%, #f4dcb5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf7ec), color-stop(100%,#f4dcb5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdf7ec 0%,#f4dcb5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdf7ec 0%,#f4dcb5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdf7ec 0%,#f4dcb5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdf7ec 0%,#f4dcb5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf7ec', endColorstr='#f4dcb5',GradientType=0 ); /* IE6-9 */
}

.tabs-active{
    color: #fef4e4;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #b06f4a 0%, #8b4e2b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b06f4a), color-stop(100%,#8b4e2b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b06f4a 0%,#8b4e2b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b06f4a 0%,#8b4e2b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b06f4a 0%,#8b4e2b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b06f4a 0%,#8b4e2b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b06f4a', endColorstr='#8b4e2b',GradientType=0 ); /* IE6-9 */
}

.tabs-active a{
    color: #fef4e4;
}

.tabs-active a:hover{
    color: #fef4e4;
}

button {
    background-color: transparent;
    border: 0px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.btn_mode {
    background-image: url('../images/btn_mode.png');
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
}

.btn_mode:hover {
    background-image: url('../images/btn_hover.png');
}

/*.btn_compare {*/
    /*background-image: url('../images/btn_compare.png');*/
    /*width: 100px;*/
    /*height: 30px;*/
    /*background-repeat: no-repeat;*/
    /*color: #ffffff;*/
/*}*/

.btn_add_company, .btn_compare {
    width: 100px;
    height: 30px;
    color: #802f01;
    background-image: url('../images/btn_normal.png');
}

.btn_add_company:hover, .btn_compare:hover{
    background-image: url('../images/btn_hover.png');
}

.btn_add_company:active, .btn_compare:active{
    background-image: url('../images/btn_press.png');
}

span.btn_act {
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

span.btn_down {
    background-image: url('../images/btn_down.png');
}

span.btn_print {
    background-image: url('../images/btn_print.png');
}

input.input_date {
    line-height: 24px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    width: 100px;
    text-align: center;
}

select.select_nomal, select.tab_select_nomal {
    height: 28px;
    /*width: 120px;*/
}

select.tab_sel_trade{
    width: 80px;
}

select.sel_trade{
    width: 100px;
}

select.sel_trade, select.tab_sel_trade{
    margin-right: 25px;
}

select.tab_sel_company{
    width: 120px;
}

select.sel_company{
    width: 200px;
}

select.select_nomal option {
    height: 20px;
    line-height: 24px;
}

div.del_ico {
    background-image: url("../images/close.png");
    width: 14px;
    height: 14px;
    float: right;
    margin: 8px 75px 0px 0px;
}

.title_top .act_container {
    margin-right: 15px;
    float: right;
}

.table_container {
    margin-top: 10px;
    border-radius: 5px;
    /*border: 1px solid #DCC0A0;*/
    background-color: white;
}

.bp_com_tb{
    margin: 18px;
    border-radius: 0px;
}

.table_container .table_list {
    border-spacing: 0;
    width: 100%;
    line-height: 30px;
}

.table_container .line_height20 {
    line-height: 20px;
}
.table_container .line_height25 {
    line-height: 40px;
}

.table_container .table_list th {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #DCC0A0;
    border-right: 1px solid #DCC0A0;
    text-align: center;
}

.table-analysis th{
    background-color: #EAD7C0;
    color: #802F01;
}

.table-analysis a{
    color: #555555;
}

.table_container .table_list th:last-child {
    border-right: 0px;
}

.table_container .table_list td {
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-bottom: 1px solid #DCC0A0;
    border-right: 1px solid #DCC0A0;
}

.table_container .table_list td:last-child {
    border-right: 0px;
}

.table_container .table_list tr:last-child td {
    border-bottom: 0px;
}

.table_container .table_list td.padding_left {
    text-align: left;
    padding-left: 15px;
}

.table_container .table_list td.maxCount{
    color: #F47865;
}
.buss_container{
    padding-left: 30px;
    text-align: left;
}
.maxNum{
    color: #F47865;
}

/*分析页面*/
.analysis {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.analysis input.input_search {
    line-height: 24px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    height: 28px;
}

.analysis .content_container {
    line-height: 30px;
    margin: 15px 50px;
    color: #555555;
}

.analysis .content_container .search_load_more {
    margin-top: 10px;
    line-height: 35px;
    background-color: #E9F5FF;
    text-align: center;
    border-radius: 3px;
}

.analysis .content_container .search_load_more span.more {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

/*分析页面*/
.compare {
    margin: 0px;
    padding: 0px;
}

.content {
   width:0px;
    margin: 20px 10px 0px 10px;

    overflow: hidden;
    margin: 0px auto;
    /*border-top: 1px solid #c6c6c6;*/
}

.content .compare_left {
    float: left;
    width: 50%;
    border-right: 1px solid #DCC0A0;
    min-height: 800px;
}

.content .compare_right {
    float: left;
    width: 49%;
    min-height: 800px;
}

.content .block_container {
    margin: 20px auto;
    width: 70%;
}

.content .block_search {
    line-height: 30px;
    margin-bottom: 20px;
}

.content .block_title {
    line-height: 1.34;
    /*font-weight: bold;*/
    font-size: 18px;
    color: #802F01;
    height: 30px;
}

.content .block_title span.ico {
    vertical-align: middle;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #B57A5A;
    border-radius: 50%;
    margin-right: 15px;
}


.content .block_content {
    border-radius: 5px;
    background-color:  white;
    border: 1px solid #DCC0A0;
    /*min-height: 350px;*/
    height: 600px;
    line-height: 600px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1px;
}
.be_com,.m_com,.ee_com{
    width:415px ;
    height: 415px;
    top:50%;
    margin-top: -50%;
    position: absolute;
}
.be_com,.bp_com,.m_com,.ee_com,.hm_com{
    width:415px ;
}
.sign{
    color:#9F5D0F;
    font-weight: bold;
    background-color:#F7EBD7;
}
.big{
    color:#9F5D0F;
    font-weight: bold;
}
.hmname{
    color:#AA722E;
    background-color:#F4DCB5;
    border-radius: 5px;
    display: inline-block;
    padding-left:3px;
    padding-right: 3px;
    line-height: 25px;
    min-width: 80px;
    text-align:center;
}
.buss{
    border:1px solid #D8B58C;
    border-radius: 5px;
    color:#AA722E;
    display: inline-block;
    margin: 2px;
    padding-left:3px;
    padding-right: 3px;
    line-height: 25px;
}
/*对比*/
.content .compare_company {
    width: 600px;
    border-right: 1px solid #DCC0A0;
    float: left;
}
.content .compare_company:last-child
{
    border-right: 0px;
}
.modal_body
{
    padding: 10px 0px;
    border:1px solid #dcc0a0;
    border-radius: 3px;
    min-height: 25px;
}
span.compare_com
{
    padding: 3px;
    margin: 3px;
    border:1px solid lightgray;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}
.lineContent{
    position: fixed;
    right:150px;
    top:150px;
    width: 5px;

    background-color: #C5D2DE;
    padding-bottom: 50px

    display: none;

}
.navLine {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 150px;
}

.navLine li {
    list-style: none;
    /*height: 30px;*/
    /*line-height: 30px;*/
    margin-top: 25px;
    margin-left: -6px;
}

.mgo {
    color: #6C767F;
    text-decoration: none;
}

.mgo-cur {
    color: #813003;
}

.mgo:hover {
    color: #813003;
    text-decoration: none;
}

.mgo:focus {
    color: #813003;
    text-decoration: none;
    outline: none;
}

.mico {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #C5D2DE;
    display: inline-block;
    margin-right: 8px;
}

.mcur {
    background-color: #813003;
}
.form-control-height{
    height: 28px;
}
.input-group-addon-padding{
    padding: 4px 12px;
}
.ico-calendar{
    background-image: url('../images/calendar.png');
    background-position: center center;
    background-repeat: no-repeat;
}
.glyphicon-calendar:before {
    content: "";
}

.glyphicon-arrow-left:before{
    content: "‹";
}

.glyphicon-arrow-right:before{
    content: "›";
}

.form-control{
    padding-top: 3px;
}

.input-group{
    margin-bottom: 2px;
}

.modal-header{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4dcb5 0%, #d8b58b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4dcb5), color-stop(100%,#d8b58b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4dcb5 0%,#d8b58b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4dcb5 0%,#d8b58b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4dcb5 0%,#d8b58b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4dcb5 0%,#d8b58b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4dcb5', endColorstr='#d8b58b',GradientType=0 ); /* IE6-9 */

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-title{
    color: #854D2F;
}

.modal-header, .modal-footer{
    border-color: #dcc0a0;
}

.btn-primary{
    background-color: #dcc0a0;
    border-color: #802f01;
}

.btn-primary:hover{
    background-color: #802f01;
    border-color: #802f01;
}
.overhidden{
    overflow:hidden;
}
.area_container{
display: inline-block;
   position: absolute;
}
.areas{
    border-radius: 50%;
    background-color: orange;
    display: inline-block;
    overflow: hidden;
    color:#ffffff;
    box-sizing: content-box;
    text-align: center;
    line-height: 18px;
}
.cityname{
    display: inline-block;
    margin: 1px 3px;
}
.service{
    color:#ff0000;
    line-height: 25px;
    text-align:center;
}